<center>
            <br>
            <div class="container card viewh-85 shadow">
                <br><br>
                <div class="row m-2">
                    <div class="col m-2">
                        <h5 class="display-4 text-primary">Thank you for you donation</h5>
                    </div>
                </div>
                <br>
                <div class="row m-2">
                    <div class="col m-2">
                        <h5 class="lead text-mute">An invoice has been sent to your email ID</h5>
                        <div class="row m-2">
                            <div class="col m-2">
                                <img src="../images/check-150.png" class="img-fluid h-auto w-auto" alt="Check mark to confirm donation">
                            </div>
                        </div>
                        <p><small>Kindly revisit the payment URL anytime to download the invoice as well</small></p>
                    </div>
                </div>
                <br>
            </div>
            <div class="container-sm">
                <div class="row m-2">
                    <div class="col m-2">
                        
                    </div>
                </div>
            </div>
        </center>